body {
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    margin: 0 auto;
    background-color: #eee;
}

.title {
    color: black;
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
    color: black;
}

.recipe-index {
    text-align: center;
    background-color: #eee;
    height: 400px;
    padding: 10px;
}

.recipe-index ol {
    list-style-type: none;
}

.recipe-index a {
    color: black;
    font-size: 25px;
    margin: 4px;
    display: inline-block;
}

img {
    height: auto;
    width: 600px;
}

a:hover {
    color: red;
}