body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: black;
    text-align: center;
    font-size: 60px;
}

.recipe-index {
    text-align: center;
}

img {
    height: auto;
    width: 500px;
}