html {
    background-color: #fff;
    min-height: 100vh;
    box-sizing:  border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 600px;
    min-height: 100vh;
    margin: 20px auto 20px auto;
    background-color: #eee;
    padding: 20px 15px;
}

.title {
    color: black;
    text-align: center;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 10px;
    color: black;
    text-decoration: underline overline 3px;
}

h2 {
    text-decoration: underline;
}

.recipe-index {
    text-align: center;
    padding: 10px;
}

.recipe-index ol {
    list-style-type: none;
}

.recipe-index a {
    color: black;
    font-size: 25px;
    margin: 4px;
    display: inline-block;
}

img {
    height: auto;
    width: 500px;
    margin: 30px auto;
    display: block;
}

a:hover {
    color: red;
}